<div class="dialogContainer">
  <h1 mat-dialog-title>Passport Photo Templates</h1>
  <div mat-dialog-content>
    <p>Please choose template from below</p>
    <form #itemsForm="ngForm">
        <div class="form-group">
          <!-- <input matInput name="testname" [(ngModel)]="data.name" ngModel> -->
          <mat-radio-group name="ptemplate" ngModel #ptemplate aria-label="Select an option" class="ptemplate" *ngFor="let t of passportTemplates">
              <mat-radio-button class="ptemplateoption" value="{{t.descr}}|{{t.price}}">{{t.descr}} <span class="ptemplatePrice">{{t.price | currency: 'INR'}}</span></mat-radio-button>
          </mat-radio-group>
        </div>
    </form>
  </div>
  <!-- <mat-checkbox class="urgent" name="urgent" ngModel #urgent (click)="urgentClick()" ngModel>Urgent</mat-checkbox> -->
  <div mat-dialog-actions class="dialog-actions">
    <button mat-raised-button (click)="onNoClick(itemsForm)" class="btn btn-danger">No Thanks</button>
    <button mat-raised-button [mat-dialog-close]="itemsForm.value.ptemplate" cdkFocusInitial class="btn btn-success">Ok</button>
  </div>
</div>
