<!-- <div class="outerBill">
<div class="bill">
  <div class="header row">
    <div class="left col-md-2">
        <img src="../../../../assets/images/logo.png" alt="">
    </div>
    <div class="center col-md-8">
        <h3 class="title">STUDIO9</h3>
        <p class="myp address">Shop no 1 Sajjan plaza chapeka chowk chinchwad pune 411033</p>
        <p class="myp tel">+91 8800669070</p>
        <p class="myp gst">GSTIN: 27AASPJ0418P1Z7</p>
    </div>
    <div class="right col-md-2">
        <p class="myp">Original for Receipient</p>
    </div>
  </div>
  <div class="row content">
    <div class="col-md-12 myCol">
      <table class="table table-bordered">
        <thead>
          <th colspan="4" class="text-center font-weight-bold fle" style="line-height:2">Tax Invoice</th>
        </thead>
        <tbody>
          <tr>
            <td class="fle">Invoice no: 9067</td>
            <td class="fle" colspan="3"></td>
        </tr>
          <tr>
            <td class="fle">Invoice date: 12.06.2019</td>
            <td class="fle" colspan="3"></td>
          </tr>
          <tr>
            <td class="p-0">
              <table>
                <tbody>
                  <tr>
                    <td class="b0 fle" style="width:70%">Charge(Y/N):</td>
                    <td class="bt0 br0 bb0">N</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td class="fle">Date of Service:06.06.2019</td>
          </tr>
          <tr>
            <td class="p-0">
              <table>
                  <tbody>
                    <tr>
                      <td class="b0 fle" style="width:70%">State: Maharashtra</td>
                      <td class="bt0 br0 bb0" style="width:15%">code</td>
                      <td class="bt0 br0 bb0">27</td>
                    </tr>
                  </tbody>
                </table>
            </td>
            <td fle>Place of Service:</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="footer">

  </div>
</div>

</div> -->

<div class="row main_container">
  <div class="col-md-7 leftPart">
    <h5 class="mainTitle">Select Items</h5>
    <div class="form-group" class="submitButton">
      <button mat-raised-button (click)="resetBill( discount, advancepaycheck, customer)" class="btn btn-warning">New</button>
    </div>
    <!-- <form #itemsForm="ngForm"> -->
    <div class="form">
      <div class="row">
        <div class="col-md-12">
<!-- PASSPORT -->
          <div class="form-group passportService">
            <div class="col" style="text-align:left">
                <label><mat-checkbox name="passport" ngModel #passport="ngModel" class="servicesCheckbox">Passport : </mat-checkbox></label>
                <label for="">
                  <div class="col input-group" *ngIf="passport.value">
                    <button mat-raised-button class="btn btn-normal" (click)="openDialog('PassportComponent', 'passportItemList', 'passportTotal')">Choose template</button>
                  </div>
                </label>
                <label class="itemCount" *ngIf="showSubcontainer('passportItemList', 'passportTotal', passport.value)">
                  {{passportItemList.length}}</label>
            </div>
            <div class="itemList" *ngIf="showSubcontainer('passportItemList', 'passportTotal', passport.value)">
              <ol >
                <li *ngFor="let item of passportItemList; let i = index;">
                  {{item.descr}}
                   <span class="close" (click)="removeItemFromList('passportItemList','passportTotal',item, passport)">&times;</span>
                   <span class="itemPrice itemQuantity">
                     <button type="button" mat-raised-button class="btn btn-normal itemQButton itemQMinusBtn" (click)="itemQMButton('passportItemList', item, itemQuantity, 'passportTotal')">-</button>
                      <mat-form-field class="itemQuantitySpecial">
                        <!-- {{item.qty}} -->
                        <input type="number" matInput name="itemQuantity" [(ngModel)]="item.qty" readonly
                        (click)="chck('passportItemList', item, itemQuantity, 'passportTotal')"
                        #itemQuantity pattern="^[1-9][0-9]*$">
                      </mat-form-field>
                      <button type="button" mat-raised-button class="btn btn-normal itemQButton itemQPlusBtn" (click)="itemQPButton('passportItemList', item, itemQuantity, 'passportTotal')">+</button>
                   </span>
                   <span class="itemPrice">{{item.price | currency: 'INR'}}</span>
                   <!-- <span title="Make Urgent" class="urgentItem" [ngClass]="item.ifUrgent ? 'urgentItemActive' : 'urgentItemInactive'" (click)="activateUrgent(item)"><i class="material-icons">offline_bolt</i>(+50)</span> -->
                   <br>
                   <span class="itemAddress">
                     {{(item.address)}}
                     <i class="material-icons add_loc" matTooltip="Add address" (click)="addAddress('passportItemList',item)" *ngIf="!item.address">
                     add_location
                     </i>
                     <i class="material-icons edit_loc" matTooltip="Edit address" (click)="addAddress('passportItemList',item)" *ngIf="item.address">
                      edit_location
                      </i>
                    </span>
                </li>
              </ol>
            </div>
            <hr class="hr-mid" *ngIf="showSubcontainer('passportItemList', 'passportTotal', passport.value)">
            <div class="itemListTotal itemList" *ngIf="showSubcontainer('passportItemList', 'passportTotal', passport.value)">
              <span>Total</span>
              <span class="itemPrice">{{passportTotal | currency: 'INR'}}</span>
            </div>
          </div>
<!-- -------------------------------------------------------------------------- -->
<!-- PREWEDDING -->
          <div class="form-group preWeddingService">
            <div class="col" style="text-align:left">
                <label><mat-checkbox name="prewedding" ngModel #prewedding="ngModel">Pre-Wedding Ceremony : </mat-checkbox></label>
                <label for="">
                  <div class="col input-group" *ngIf="prewedding.value">
                    <button mat-raised-button class="btn btn-normal" (click)="openDialog('PreweddingComponent', 'preWeddingItemList', 'preweddingTotal')">Choose template</button>
                  </div>
                </label>
                <label class="itemCount" *ngIf="showSubcontainer('preWeddingItemList', 'preweddingTotal', prewedding.value)">
                  {{preWeddingItemList.length}}</label>
            </div>
            <div class="itemList" *ngIf="showSubcontainer('preWeddingItemList', 'preweddingTotal', prewedding.value)">
              <ol >
                <li *ngFor="let item of preWeddingItemList; let i = index">
                  {{item.descr}}
                    <span class="close" (click)="removeItemFromList('preWeddingItemList','preweddingTotal',item, prewedding)">&times;</span>
                    <span class="itemPrice itemQuantity">
                      <button type="button" mat-raised-button class="btn btn-normal itemQButton itemQMinusBtn" (click)="itemQMButton('preWeddingItemList', item, itemQuantity, 'preweddingTotal')">-</button>
                        <mat-form-field class="itemQuantitySpecial">
                          <!-- {{item.qty}} -->
                          <input type="number" matInput name="itemQuantity" [(ngModel)]="item.qty" readonly
                          (click)="chck('preWeddingItemList', item, itemQuantity, 'preweddingTotal')"
                          #itemQuantity pattern="^[1-9][0-9]*$">
                        </mat-form-field>
                        <button type="button" mat-raised-button class="btn btn-normal itemQButton itemQPlusBtn" (click)="itemQPButton('preWeddingItemList', item, itemQuantity, 'preweddingTotal')">+</button>
                    </span>
                    <span class="itemPrice">{{item.price | currency: 'INR'}}</span>
                    <br>
                    <span class="itemAddress">
                    {{(item.address)}}
                    <i class="material-icons add_loc" matTooltip="Add address" (click)="addAddress('preWeddingItemList',item, prewedding)" *ngIf="!item.address">
                    add_location
                    </i>
                    <i class="material-icons edit_loc" matTooltip="Edit address" (click)="addAddress('preWeddingItemList',item)" *ngIf="item.address">
                      edit_location
                      </i>
                    </span>

                </li>
              </ol>
            </div>
            <hr class="hr-mid" *ngIf="showSubcontainer('preWeddingItemList', 'preweddingTotal', prewedding.value)">
            <div class="itemListTotal itemList" *ngIf="showSubcontainer('preWeddingItemList', 'preweddingTotal', prewedding.value)">
              <span>Total</span>
              <span class="itemPrice">{{preweddingTotal | currency: 'INR'}}</span>
            </div>
          </div>
<!-- -------------------------------------------------------------------------- -->
<!-- WEDDING -->
          <div class="form-group weddingService">
            <div class="col" style="text-align:left">
                <label><mat-checkbox name="wedding" ngModel #wedding="ngModel">Wedding Ceremony : </mat-checkbox></label>
                <label for="">
                  <div class="col input-group" *ngIf="wedding.value">
                    <button mat-raised-button class="btn btn-normal" (click)="openDialog('WeddingComponent', 'weddingItemList', 'weddingTotal')">Choose template</button>
                  </div>
                </label>
                <label class="itemCount" *ngIf="showSubcontainer('weddingItemList', 'weddingTotal', wedding.value)">
                  {{weddingItemList.length}}</label>
            </div>
            <div class="itemList" *ngIf="showSubcontainer('weddingItemList', 'weddingTotal', wedding.value)">
              <ol *ngFor="let item of weddingItemList">
                <li>{{item.descr}}
                    <span class="close" (click)="removeItemFromList('weddingItemList','weddingTotal',item, wedding)">&times;</span>
                    <span class="itemPrice itemQuantity">
                      <button type="button" mat-raised-button class="btn btn-normal itemQButton itemQMinusBtn" (click)="itemQMButton('weddingItemList', item, itemQuantity, 'weddingTotal')">-</button>
                        <mat-form-field class="itemQuantitySpecial">
                          <!-- {{item.qty}} -->
                          <input type="number" matInput name="itemQuantity" [(ngModel)]="item.qty" readonly
                            (click)="chck('weddingItemList', item, itemQuantity, 'weddingTotal')"
                            #itemQuantity pattern="^[1-9][0-9]*$">
                        </mat-form-field>
                        <button type="button" mat-raised-button class="btn btn-normal itemQButton itemQPlusBtn" (click)="itemQPButton('weddingItemList', item, itemQuantity, 'weddingTotal')">+</button>
                    </span>
                    <span class="itemPrice">{{item.price | currency: 'INR'}}</span>
                    <br>
                    <span class="itemAddress">
                    {{item.address}}
                    <i class="material-icons add_loc" matTooltip="Add address" (click)="addAddress('weddingItemList',item, wedding)" *ngIf="!item.address">
                    add_location
                    </i>
                    <i class="material-icons edit_loc" matTooltip="Edit address" (click)="addAddress('weddingItemList',item)" *ngIf="item.address">
                      edit_location
                      </i>
                    </span>
                </li>
              </ol>
            </div>
            <hr class="hr-mid" *ngIf="showSubcontainer('weddingItemList', 'weddingTotal', wedding.value)">
            <div class="itemListTotal itemList" *ngIf="showSubcontainer('weddingItemList', 'weddingTotal', wedding.value)">
              <span>Total</span>
              <span class="itemPrice">{{weddingTotal | currency: 'INR'}}</span>
            </div>
          </div>
<!-- -------------------------------------------------------------------------- -->
<!-- BIRTHDAY -->
          <div class="form-group birthdayService">
            <div class="col" style="text-align:left">
                <label><mat-checkbox name="birthday" ngModel #birthday="ngModel">Birthday : </mat-checkbox></label>
                <label for="">
                  <div class="col input-group" *ngIf="birthday.value">
                    <button mat-raised-button class="btn btn-normal" (click)="openDialog('BirthdayComponent', 'birthdayItemList', 'birthdayTotal')">Choose template</button>
                  </div>
                </label>
                <label class="itemCount" *ngIf="showSubcontainer('birthdayItemList', 'birthdayTotal', birthday.value)">
                  {{birthdayItemList.length}}</label>
            </div>
            <div class="itemList" *ngIf="showSubcontainer('birthdayItemList', 'birthdayTotal', birthday.value)">
              <ol *ngFor="let item of birthdayItemList">
                <li>{{item.descr}}
                    <span class="close" (click)="removeItemFromList('birthdayItemList','birthdayTotal',item, birthday)">&times;</span>
                    <span class="itemPrice itemQuantity">
                      <button type="button" mat-raised-button class="btn btn-normal itemQButton itemQMinusBtn" (click)="itemQMButton('birthdayItemList', item, itemQuantity, 'birthdayTotal')">-</button>
                        <mat-form-field class="itemQuantitySpecial">
                          <!-- {{item.qty}} -->
                          <input type="number" matInput name="itemQuantity" [(ngModel)]="item.qty" readonly
                            (click)="chck('birthdayItemList', item, itemQuantity, 'birthdayItemList')"
                            #itemQuantity pattern="^[1-9][0-9]*$">
                        </mat-form-field>
                        <button type="button" mat-raised-button class="btn btn-normal itemQButton itemQPlusBtn" (click)="itemQPButton('birthdayItemList', item, itemQuantity, 'birthdayTotal')">+</button>
                    </span>
                    <span class="itemPrice">{{item.price | currency: 'INR'}}</span>
                    <br>
                    <span class="itemAddress">
                    {{(item.address)}}
                    <i class="material-icons add_loc" matTooltip="Add address" (click)="addAddress('birthdayItemList',item, birthday)" *ngIf="!item.address">
                    add_location
                    </i>
                    <i class="material-icons edit_loc" matTooltip="Edit address" (click)="addAddress('birthdayItemList',item)" *ngIf="item.address">
                      edit_location
                      </i>
                    </span>
                </li>
              </ol>
            </div>
            <hr class="hr-mid" *ngIf="showSubcontainer('birthdayItemList', 'birthdayTotal', birthday.value)">
            <div class="itemListTotal itemList" *ngIf="showSubcontainer('birthdayItemList', 'birthdayTotal', birthday.value)">
              <span>Total</span>
              <span class="itemPrice">{{birthdayTotal | currency: 'INR'}}</span>
            </div>
          </div>
<!-- -------------------------------------------------------------------------- -->
<!-- CUSTOM -->
          <div class="form-group customService">
              <div class="col" style="text-align:left">
                  <label><mat-checkbox name="custom" ngModel #custom="ngModel">Custom : </mat-checkbox></label>
                  <label for="">
                    <div class="col input-group" *ngIf="custom.value">
                      <button mat-raised-button class="btn btn-normal" (click)="openDialog('CustomComponent', 'customItemList', 'customTotal')">Choose template</button>
                    </div>
                  </label>
                  <label class="itemCount" *ngIf="showSubcontainer('customItemList', 'customTotal', custom.value)">
                    {{customItemList.length}}</label>
              </div>
              <div class="itemList" *ngIf="showSubcontainer('customItemList', 'customTotal', custom.value)">
                <ol *ngFor="let item of customItemList">
                  <li>{{item.descr}}
                      <span class="close" (click)="removeItemFromList('customItemList','customTotal',item, custom)">&times;</span>
                      <span class="itemPrice itemQuantity">
                          <button type="button" mat-raised-button class="btn btn-normal itemQButton itemQMinusBtn" (click)="itemQMButton('customItemList', item, itemQuantity, 'customTotal')">-</button>
                          <mat-form-field class="itemQuantitySpecial">
                            <!-- {{item.qty}} -->
                            <input type="number" matInput name="itemQuantity" [(ngModel)]="item.qty" readonly
                              (click)="chck('customItemList', item, itemQuantity, 'customItemList')"
                              #itemQuantity pattern="^[1-9][0-9]*$">
                          </mat-form-field>
                          <button type="button" mat-raised-button class="btn btn-normal itemQButton itemQPlusBtn" (click)="itemQPButton('customItemList', item, itemQuantity, 'customTotal')">+</button>
                      </span>
                      <span class="itemPrice">{{item.price | currency: 'INR'}}</span>
                      <br>
                      <span class="itemAddress">
                      {{(item.address)}}
                      <i class="material-icons add_loc" matTooltip="Add address" (click)="addAddress('customItemList',item, custom)" *ngIf="!item.address">
                      add_location
                      </i>
                      <i class="material-icons edit_loc" matTooltip="Edit address" (click)="addAddress('customItemList',item)" *ngIf="item.address">
                        edit_location
                        </i>
                      </span>
                  </li>
                </ol>
              </div>
              <hr class="hr-mid" *ngIf="showSubcontainer('customItemList', 'customTotal', custom.value)">
              <div class="itemListTotal itemList" *ngIf="showSubcontainer('customItemList', 'customTotal', custom.value)">
                <span>Total</span>
                <span class="itemPrice">{{customTotal | currency: 'INR'}}</span>
              </div>
            </div>
          <div class="cartItemsFinal" *ngIf="cartItems.length>0">
              <hr class="hr-final" >
              <span>Total</span>
              <span class="itemPrice">{{ cartItemsTotal | currency: 'INR'}}</span>
              <hr class="hr-final" >
          </div>
          <!-- <div class="form-group"  style="text-align:right">
            <button mat-raised-button type="submit">Print Bill</button>
          </div> -->
          </div>
        </div>

    <!-- </form> -->
      </div>
</div>
<div class="col-md-5 rightPart">
    <h5 class="mainTitle">Sample Bill</h5>
    <div class="form-group" class="mainButton">
      <mat-form-field>
        <mat-label>Customer name/ID</mat-label>
          <mat-select name="customer" ngModel required #customer="ngModel"  [disabled]="billNo">
            <mat-option *ngFor="let customer of customerNameList" [value]="customer" >
              {{customer}}
            </mat-option>
          </mat-select>
        <!-- <input matInput placeholder="Customer name/ID" [(ngModel)]="custNameOrID"> -->
      </mat-form-field>
    <button mat-raised-button (click)="selectCustomer(customer.value)" class="btn btn-normal" [disabled]="billNo">Select</button>
      <div class="verticalSeparator"></div>
      <button mat-raised-button (click)="saveBill()" class="btn btn-success">Save</button>
      <button mat-raised-button (click)="printBillFinal()"  class="btn btn-info">Print Bill</button>
    </div>
    <!-- [disabled]="billNo === null" -->
    <div class="thermalBillSample">
      <mat-toolbar class="billControlToolbar">
        <mat-checkbox name="discount" ngModel #discount="ngModel" (change)="discountCheckClicked()">Discount</mat-checkbox>
        <div class="billControlSubTool" *ngIf="discount.value">
          <mat-button-toggle-group name="discountType" aria-label="Discount Type" class="discountTypeToggleGroup" #discountTypeModel="matButtonToggleGroup">
            <mat-button-toggle aria-label="Discount Rupee" value="rupee" checked (change)="onDiscountTypeChange($event.value)">₹</mat-button-toggle>
            <mat-button-toggle aria-label="Discount Percent" value="percent" (change)="onDiscountTypeChange($event.value)">%</mat-button-toggle>
          </mat-button-toggle-group>
          <mat-form-field class="discountAmountFormField">
            <input matInput placeholder="Enter discount" #discountAmountModel="ngModel" [(ngModel)]="discountAmount"
                    pattern="[+-]?([0-9]*[.])?[0-9]+" required (change)="addDiscount(discountAmountModel)">
          </mat-form-field>
          <div class="warn-message" *ngIf="discountAmountModel.errors">
            <span class="errorText text-danger" *ngIf="discountAmountModel.errors['pattern'] ">
              Incorrect value</span>
          </div>
        </div>
      </mat-toolbar>
      <mat-toolbar class="billControlToolbar">
        <mat-checkbox name="advancepaycheck" ngModel #advancepaycheck="ngModel" (change)="advancePaymentCheckClicked()">Advance Payment</mat-checkbox>
        <div class="billControlSubTool" *ngIf="advancepaycheck.value">

          <mat-form-field>
            <input matInput placeholder="Enter amount" #advancePayModel="ngModel" [(ngModel)]="advancePayAmount"
                    pattern="[+-]?([0-9]*[.])?[0-9]+" required (change)="takeAdvancePay(advancePayModel)">
          </mat-form-field>
          <mat-button-toggle-group name="paymenttype" aria-label="Payment Type" class="paymentTypeToggleGroup" #aPaymentTypeModel="matButtonToggleGroup" [(ngModel)]="paymentType">
            <mat-button-toggle aria-label="paytm" value="paytm" checked matTooltip="Paytm">
              <img src="../../../../assets/images/paytm.png" alt="paytm">
            </mat-button-toggle>
            <mat-button-toggle aria-label="googlepay" value="googlepay" matTooltip="Google Pay">
                <img src="../../../../assets/images/googlepay.png" alt="googlepay">
            </mat-button-toggle>
            <mat-button-toggle aria-label="phonepe" value="phonepe" matTooltip="PhonePe">
                <img src="../../../../assets/images/phonepe.png" alt="phonepe">
            </mat-button-toggle>
            <mat-button-toggle aria-label="bhim" value="bhim" matTooltip="BHIM">
                <img src="../../../../assets/images/bhim.png" alt="bhim">
            </mat-button-toggle>
            <mat-button-toggle aria-label="cash" value="cash" matTooltip="Cash">
                <img src="../../../../assets/images/cash.png" alt="cash">
            </mat-button-toggle>
          </mat-button-toggle-group>
          <div class="warn-message" *ngIf="advancePayModel.errors">
            <span class="errorText text-danger" *ngIf="advancePayModel.errors['pattern'] ">
              Incorrect value</span>
          </div>
        </div>
      </mat-toolbar>
      <div class="layout">
        <div class="header">
          <div class="flex-line">
            <div class="flex-left single logo">
              <img src="../../../../assets/images/logo.png" alt="">
            </div>
          </div>
          <!-- <div class="flex-line">
            <div class="flex-left single companyName">STUDIO9</div>
          </div> -->
          <div class="flex-line">
            <div class="flex-left single companyAddress">Dehu Gaon</div>
          </div>
          <div class="flex-line">
            <div class="flex-left companyContact">
              +91 8800669070
            </div>
            <div class="flex-right billDateTime">{{dateTime | date : 'short'}}</div>
          </div>
          <div class="flex-line">
            <div class="flex-left single billNo">Bill No: {{billNo}}</div>
          </div>
          <div class="flex-line">

            <div class="flex-left userID">{{userFullName}} ({{userID}})</div>
            <div class="flex-right custID" *ngIf="custName === null"></div><br />
            <div class="flex-right custID" *ngIf="custName !== null">{{custName}} ({{custID}})</div><br />
          </div>
          <div class="flex-line">

            <div class="flex-left userContact">{{userContact}}</div>
            <div class="flex-right custContact">{{custContact}}</div>
          </div>

        </div>
        <div class="singleSeparator">
          <hr />
          <hr />
        </div>
        <div class="content">
          <div class="invoice">INVOICE</div>
          <table>
            <thead>
              <th>Sr</th>
              <th>Description</th>
              <!-- <th>Price</th> -->
              <th>Amount</th>
            </thead>

            <tbody>
              <tr *ngIf="cartItems.length == 0">
                <td colspan="3" class="addItemWarning">
                  Please add items to cart to generate bill
                </td>
              </tr>
              <tr *ngFor="let item of cartItems; let i = index">
                <td>{{i+1}}</td>
                <td>{{item.descr}}</td>
                <!-- <td>{{item.price}}</td> -->
                <td>{{item.price | currency: 'INR'}}</td>
              </tr>
              <!-- <tr>
                <td>1</td>
                <td>PASS8</td>
                <td>20</td>
                <td>20</td>
              </tr>
              <tr>
                <td>2</td>
                <td>VShoot Half</td>
                <td>7500</td>
                <td>7500</td>
              </tr> -->
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2">Total</td>
                <td>{{cartItemsTotal | currency: 'INR' : 'symbol' : '1.0-0'}}</td>
              </tr>
              <tr *ngIf="discountType==='rupee' && discount.value && discountAmount>0 && cartItemsTotal>0">
                <td colspan="2">Discount</td>
                <td>-{{ discountAmount |currency: 'INR'}}</td>
              </tr>
              <tr *ngIf="discountType==='percent' && discount.value && discountAmount>0 && cartItemsTotal>0">
                <td colspan="2">Discount</td>
                <td>-{{ discountAmount }}% [{{cartItemsTotal - billDiscountedTotal | currency: 'INR'}}]</td>
              </tr>
              <tr>
                <td colspan="3">
                    <div class="singleSeparator">
                        <hr />
                        <hr />
                      </div>
                </td>
              </tr>
              <tr>
                <td colspan="2">Grand Total</td>
                <td>{{ billDiscountedTotal | currency: 'INR' : 'symbol' : '1.0-0' }}</td>
              </tr>
              <tr *ngIf="advancepaycheck.value && advancePayAmount>0 && cartItemsTotal>0">
                <td colspan="2">Advance Payment</td>
                <td>{{ advancePayAmount | currency: 'INR' : 'symbol' : '1.0-0' }}</td>
              </tr>
              <tr>
                <td colspan="3">
                    <div class="singleSeparator">
                        <hr />
                        <hr />
                      </div>
                </td>
              </tr>

              <tr>
                <td colspan="2">Pending Payment</td>
                <td>{{ pendingAmount | currency: 'INR' : 'symbol' : '1.0-0' }}</td>
              </tr>
            </tfoot>
          </table>
        </div>



        <div class="footer">
          <div class="thankTitle">
            ☺ Cherish your moments with us ☺
          </div>
        </div>

        <div class="singleSeparator">
            <hr />
            <hr />
          </div>
      </div>
    </div>
  </div>

</div>
