<div class="row main_container">
    <div class="col-md-7 leftPart">
      <div class="listHeader">

        <h5 class="mainTitle">Customer List ({{dataSource.filteredData.length}})</h5>
        <div class="listToolBar" >
          <mat-form-field>
            <mat-label>Filter By</mat-label>
            <mat-select ngModel #filterCategory="ngModel" (selectionChange)="filterCategoryListener(filterCategory.value)">
              <mat-option *ngFor="let filter of filterByCategories; let i" [value]="filter">
                {{filter}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- custName search -->
          <mat-form-field *ngIf="activeFilterType === fMetadata[0].type">
            <input matInput placeholder="Enter customer name" ngModel #filter1="ngModel" (keyup)="filterTable(filter1)">
          </mat-form-field>

          <!-- custID search -->
          <mat-form-field *ngIf="activeFilterType === fMetadata[1].type">
            <input matInput placeholder="Enter customer ID" ngModel #filter2="ngModel" (keyup)="filterTable(filter2)">
          </mat-form-field>

          <!-- custContact search -->
          <mat-form-field *ngIf="activeFilterType === fMetadata[2].type">
            <input matInput placeholder="Enter customer contact no" ngModel #filter3="ngModel" (keyup)="filterTable(filter3)">
          </mat-form-field>

          <!-- custEmail search -->
          <mat-form-field *ngIf="activeFilterType === fMetadata[3].type">
            <input matInput placeholder="Enter customer email" ngModel #filter4="ngModel" (keyup)="filterTable(filter4)">
          </mat-form-field>

          <!-- custAddress search -->
          <mat-form-field *ngIf="activeFilterType === fMetadata[4].type">
            <input matInput placeholder="Enter customer address" ngModel #filter5="ngModel" (keyup)="filterTable(filter5)">
          </mat-form-field>

        </div>
        <button class="filter_table_clear_button" mat-fab aria-label="Search" (click)="filterTable({value:'', control: { value: ''}}, filterCategory)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="subContainer">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 listTable">
          <ng-container [matColumnDef]="listTableColumns[0]">
            <th mat-header-cell *matHeaderCellDef> {{listTableColumnsTitles[0]}} </th>
            <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
          </ng-container>

          <ng-container [matColumnDef]="listTableColumns[1]">
            <th mat-header-cell *matHeaderCellDef> {{listTableColumnsTitles[1]}} </th>
            <td mat-cell *matCellDef="let element;"> {{element.custName}} </td>
          </ng-container>

          <ng-container [matColumnDef]="listTableColumns[2]">
            <th mat-header-cell *matHeaderCellDef> {{listTableColumnsTitles[2]}} </th>
            <td mat-cell *matCellDef="let element;"> {{element.custID}} </td>
          </ng-container>

          <ng-container [matColumnDef]="listTableColumns[3]">
            <th mat-header-cell *matHeaderCellDef> {{listTableColumnsTitles[3]}} </th>
            <td mat-cell *matCellDef="let element;"> {{element.custContact}} </td>
          </ng-container>

          <ng-container [matColumnDef]="listTableColumns[4]">
            <th mat-header-cell *matHeaderCellDef> {{listTableColumnsTitles[4]}} </th>
            <td mat-cell *matCellDef="let element;"> {{element.custEmail}} </td>
          </ng-container>

          <ng-container [matColumnDef]="listTableColumns[5]">
            <th mat-header-cell *matHeaderCellDef> {{listTableColumnsTitles[5]}} </th>
            <td mat-cell *matCellDef="let element;">
              {{element.custAddress.street}}, {{element.custAddress.landmark}},
              {{element.custAddress.city}}, {{element.custAddress.postalCode}},
              {{element.custAddress.state}}, {{element.custAddress.country}}

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="listTableColumns;sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: listTableColumns;" name="listRow" ngDefaultControl
              ngModel #custRow="ngModel" (click)="showDetails(row, customerForm)" [ngClass]="row.custID === activeCustID ? 'custActive' : ''"></tr>
        </table>
        <div class="empty_list" [hidden]="dataSource.filteredData.length > 0">
          <img class="empty_image" src="assets\images\no-record-found.png" alt="no record found">
        </div>
      </div>
    </div>

    <div class="col-md-5 rightPart">
        <h5 class="mainTitle">Customer Details</h5>
        <!-- <span class="close" (click)="closeItem()" *ngIf="activeCustID">&times;</span> -->
        <div class="form-group" class="mainButton">
          <div class="verticalSeparator"></div>
          <button type="button" mat-raised-button (click)="newCustomer(customerForm)" class="btn btn-normal" [disabled]="editMode">Add Customer</button>
          <button type="button" mat-raised-button (click)="editCustomer(customerForm)" [hidden]="editMode" class="btn btn-normal"
                  *ngIf="showDetailsMode" [disabled]="customerModel.custTitle === null || editMode === true">Edit</button>
          <button type="button" mat-raised-button (click)="editCustomer(customerForm)" [hidden]="!editMode" class="btn btn-danger">Cancel Edit</button>
        </div>
        <div class="subContainer listItemDetails">
          <form class="customerForm" #customerForm="ngForm" (ngSubmit)="saveCustomer(customerForm)">
            <div class="form-group">
                <div class="flex-line">
                    <mat-form-field class="one-part-half">
                    <mat-label>Title</mat-label>
                    <mat-select name="custTitle" [(ngModel)]="customerModel.custTitle" required  #custTitle="ngModel" disabled>
                      <mat-option *ngFor="let title of custTitles" [value]="title">
                        {{title}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="one-part-full">
                    <input matInput name="custName" placeholder="Customer Name" [(ngModel)]="customerModel.custName"
                            required #custName="ngModel" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" disabled>
                  </mat-form-field>
                </div>
                <div class="flex-line">
                  <mat-form-field>
                    <input matInput name="custID" placeholder="Customer ID" [(ngModel)]="customerModel.custID"
                            required #custID="ngModel" pattern="^(?!.*__)(?!.*_$)[a-z_0-9]+$" disabled>
                  </mat-form-field>

                  <div class="mat-form-field">
                    <button type="button" mat-raised-button (click)="checkCustID(custID.value)" class="btn btn-info" disabled>Check</button>
                  </div>
                </div>
                <div class="warn-message text-danger" *ngIf="custID.errors">
                  <div [hidden]="!custID.errors.required">
                      <h6>&nbsp;Customer ID is taken.</h6>
                  </div>
                </div>
                <div class="flex-line">
                  <mat-form-field class="one-part">
                    <input matInput name="custContact" placeholder="Customer Contact" [(ngModel)]="customerModel.custContact"
                            required #custContact="ngModel" pattern="^[6-9]\d{9}$" disabled>
                  </mat-form-field>
                  <mat-form-field class="three-part">
                    <input matInput name="custEmail" placeholder="Customer Email" [(ngModel)]="customerModel.custEmail"
                            required #custEmail="ngModel" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" disabled>
                  </mat-form-field>
                </div>
                <br>
                <div class="flex-line">
                  <mat-form-field>
                    <input matInput name="street" placeholder="Street/Place"
                    [(ngModel)]="customerModel.custAddress.street" required #street="ngModel" pattern="^[^,]+$" disabled>
                  </mat-form-field>
                </div>
                <div class="flex-line">
                  <mat-form-field>
                    <input matInput name="landmark" placeholder="Landmark" [(ngModel)]="customerModel.custAddress.landmark" required #landmark="ngModel" pattern="^[^,]+$" disabled>
                  </mat-form-field>
                </div>
                <div class="flex-line">
                  <mat-form-field>
                    <mat-label>City</mat-label>
                    <mat-select name="city" [(ngModel)]="customerModel.custAddress.city" required  #city="ngModel" disabled>
                      <mat-option *ngFor="let city of cities" [value]="city">
                        {{city}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field>
                    <input type="number" matInput name="postalcode" placeholder="Postal Code" [(ngModel)]="customerModel.custAddress.postalCode"
                    pattern="^[1-9][0-9]{5}$" required #postalcode="ngModel" disabled>
                  </mat-form-field>
                </div>
                <div class="flex-line">
                  <mat-form-field>
                    <mat-label>State</mat-label>
                    <mat-select name="state" [(ngModel)]="customerModel.custAddress.state" required #state="ngModel" disabled>
                      <mat-option *ngFor="let state of states" [value]="state">
                        {{state}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Country</mat-label>
                    <mat-select name="country" [(ngModel)]="customerModel.custAddress.country" required #country="ngModel" disabled>
                      <mat-option *ngFor="let country of countries" [value]="country">
                        {{country}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="warn-message" *ngIf="street.errors || landmark.errors">
                  <span class="errorText text-danger" *ngIf="(street.errors && street.errors['pattern']) || (landmark.errors && landmark.errors['pattern']) ">
                    Please do not include comma [,] in the address.</span>
                </div>
                <!-- <button mat-raised-button type="button" (click)="test(city)">Test</button> -->
                <!-- <button mat-raised-button type="submit">Add</button> -->
                <div class="form-group" class="mainButton">
                  <button type="button" mat-raised-button (click)="resetForm(customerForm)" class="btn btn-danger">Reset</button>
                  <button type="button" mat-raised-button (click)="saveCustomer(customerForm)" [disabled]="customerForm.valid === false || custTitle.disabled" class="btn btn-success">Save</button>
                </div>
            </div>
        </form>
        </div>
        <!-- <div class="subContainer" [hidden]="activeCustID !== null">
          <img class="empty_image" src="assets\images\empty.jpg" alt="empty_image">
          <h3 class="empty_text">Please select customer from left to view details.</h3>
        </div> -->
    </div>
  </div>
