<!-- <div class="outerBill">
<div class="bill">
  <div class="header row">
    <div class="left col-md-2">
        <img src="../../../../assets/images/logo.png" alt="">
    </div>
    <div class="center col-md-8">
        <h3 class="title">STUDIO9</h3>
        <p class="myp address">Shop no 1 Sajjan plaza chapeka chowk chinchwad pune 411033</p>
        <p class="myp tel">+91 8800669070</p>
        <p class="myp gst">GSTIN: 27AASPJ0418P1Z7</p>
    </div>
    <div class="right col-md-2">
        <p class="myp">Original for Receipient</p>
    </div>
  </div>
  <div class="row content">
    <div class="col-md-12 myCol">
      <table class="table table-bordered">
        <thead>
          <th colspan="4" class="text-center font-weight-bold fle" style="line-height:2">Tax Invoice</th>
        </thead>
        <tbody>
          <tr>
            <td class="fle">Invoice no: 9067</td>
            <td class="fle" colspan="3"></td>
        </tr>
          <tr>
            <td class="fle">Invoice date: 12.06.2019</td>
            <td class="fle" colspan="3"></td>
          </tr>
          <tr>
            <td class="p-0">
              <table>
                <tbody>
                  <tr>
                    <td class="b0 fle" style="width:70%">Charge(Y/N):</td>
                    <td class="bt0 br0 bb0">N</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td class="fle">Date of Service:06.06.2019</td>
          </tr>
          <tr>
            <td class="p-0">
              <table>
                  <tbody>
                    <tr>
                      <td class="b0 fle" style="width:70%">State: Maharashtra</td>
                      <td class="bt0 br0 bb0" style="width:15%">code</td>
                      <td class="bt0 br0 bb0">27</td>
                    </tr>
                  </tbody>
                </table>
            </td>
            <td fle>Place of Service:</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="footer">

  </div>
</div>

</div> -->

<div class="row main_container">
    <div class="col-md-7 leftPart">
      <h5 class="mainTitle">Select Items</h5>
      <div class="form-group" class="submitButton">
        <!-- <button mat-raised-button (click)="resetBill( discount, advancepaycheck, customer)" class="btn btn-warning">New</button> -->
      </div>
      <!-- <form #itemsForm="ngForm"> -->
      <div class="form">
        <div class="row">
          <div class="col-md-12">
  <!-- PASSPORT -->
            <div class="form-group offering" *ngFor="let offering of offerings; let i = index">
              <h3>{{offering.name}}</h3>
              <hr>
                <div class="col" style="text-align:left" *ngFor="let pckg of offering.list">
                    <label><mat-checkbox name="package" ngModel #package="ngModel" class="packageCheckbox" (click)="packageCheckboxClick(pckg)">{{pckg.name}}</mat-checkbox></label>
                    <label for="">
                      <div class="col input-group" *ngIf="package.value">
                        <button mat-raised-button class="btn btn-normal" (click)="openServicesDialog(pckg)">Choose template</button>
                      </div>
                    </label>
                    <!-- <label class="itemCount">
                      {{ }}</label> -->

                    <div  *ngFor="let item of itemListAll; let i = index;">
                      <div class="itemList">
                        <ol>
                          <li *ngFor="let serv of item[pckg.orderID]">
                            {{serv.name }}
                            <!-- {{serv.price }} -->
                            <span class="close" (click)="removeService(pckg.orderID, serv.orderID)">&times;</span>
                            <span class="servPrice servQuantity">
                              <button type="button" mat-raised-button class="btn btn-normal servQButton servQMinusBtn" (click)="removeQuantity(pckg.orderID, serv.orderID, servQuantity)">-</button>
                                <mat-form-field class="servQuantitySpecial">
                                  <input type="number" matInput name="servQuantity" [(ngModel)]="serv.qty" readonly
                                  (click)="openQtyInput(pckg.orderID, serv.orderID, servQuantity)"
                                  #servQuantity pattern="^[1-9][0-9]*$">
                                </mat-form-field>
                                <button type="button" mat-raised-button class="btn btn-normal servQButton servQPlusBtn" (click)="addQuantity(pckg.orderID, serv.orderID, servQuantity)">+</button>
                            </span>
                            <span class="servPrice">{{serv.price | currency: 'INR'}}</span>
                            <br>
                            <span class="servAddress">
                              {{(serv.address | addressTransform )}}
                              <i class="material-icons add_loc" matTooltip="Add address" (click)="insertAddress(pckg.orderID, serv.orderID, serv.address)" *ngIf="!serv.address.street">
                              add_location
                              </i>
                              <i class="material-icons edit_loc" matTooltip="Edit address" (click)="insertAddress(pckg.orderID, serv.orderID, serv.address)" *ngIf="serv.address.street">
                                edit_location
                                </i>
                            </span>
                          </li>
                        </ol>
                      </div>
                    </div>
                </div>
              <!-- <div class="itemList">
                <ol >
                  <li *ngFor="let item of itemListAll; let i = index;">
                    {{item.descr}} -->
                     <!-- <span class="close" (click)="removeItemFromList('passportItemList','passportTotal',item, passport)">&times;</span> -->
                     <!-- <span class="itemPrice itemQuantity">
                       <button type="button" mat-raised-button class="btn btn-normal itemQButton itemQMinusBtn" (click)="itemQMButton('passportItemList', item, itemQuantity, 'passportTotal')">-</button>
                        <mat-form-field class="itemQuantitySpecial">
                          <input type="number" matInput name="itemQuantity" [(ngModel)]="item.qty" readonly
                          (click)="getQunatity('passportItemList', item, itemQuantity, 'passportTotal')"
                          #itemQuantity pattern="^[1-9][0-9]*$">
                        </mat-form-field>
                        <button type="button" mat-raised-button class="btn btn-normal itemQButton itemQPlusBtn" (click)="itemQPButton('passportItemList', item, itemQuantity, 'passportTotal')">+</button>
                     </span> -->
                     <!-- <span class="itemPrice">{{item.price | currency: 'INR'}}</span> -->
                     <!-- <br> -->
                     <!-- <span class="itemAddress">
                       {{(item.address)}}
                       <i class="material-icons add_loc" matTooltip="Add address" (click)="addAddress('passportItemList',item)" *ngIf="!item.address">
                       add_location
                       </i>
                       <i class="material-icons edit_loc" matTooltip="Edit address" (click)="addAddress('passportItemList',item)" *ngIf="item.address">
                        edit_location
                        </i>
                      </span> -->
                  <!-- </li>
                </ol>
              </div> -->
              <!-- {{itemListAll | json}} -->
              <!-- <hr class="hr-mid">
              <div class="itemListTotal itemList">
                <span>Total</span>
                <span class="itemPrice">{{passportTotal | currency: 'INR'}}</span>
              </div> -->
            </div>

  <!-- -------------------------------------------------------------------------- -->
            <div class="cartItemsFinal" *ngIf="">
                <hr class="hr-final" >
                <span>Total</span>
                <span class="itemPrice"></span>
                <hr class="hr-final" >
            </div>

            </div>
          </div>

      <!-- </form> -->
        </div>
  </div>
  <div class="col-md-5 rightPart">
      <h5 class="mainTitle">Sample Bill</h5>
      <div class="form-group" class="mainButton">
        <mat-form-field>
          <mat-label>Customer name/ID</mat-label>
            <mat-select name="customer" ngModel required #customer="ngModel"  [disabled]="billNo">
              <mat-option *ngFor="let customer of customerNameList" [value]="customer" >
                {{customer}}
              </mat-option>
            </mat-select>
        </mat-form-field>
      <button mat-raised-button (click)="selectCustomer(customer.value)" class="btn btn-normal" [disabled]="billNo || !customer.value">Select</button>
        <div class="verticalSeparator"></div>
        <button mat-raised-button (click)="saveBill()" class="btn btn-success">Save</button>
        <button mat-raised-button (click)="printBillFinal()"  class="btn btn-info">Print Bill</button>
      </div>
      <div class="thermalBillSample">
        <mat-toolbar class="billControlToolbar">
          <mat-checkbox name="discount" ngModel #discount="ngModel" (change)="discountCheckClicked()">Discount</mat-checkbox>
          <div class="billControlSubTool" [hidden]="!discount.value">
            <mat-button-toggle-group name="discountType" aria-label="Discount Type" class="discountTypeToggleGroup" #discountTypeModel="matButtonToggleGroup">
              <mat-button-toggle aria-label="Discount Rupee" value="rupee" checked (change)="onDiscountTypeChange($event.value)">₹</mat-button-toggle>
              <mat-button-toggle aria-label="Discount Percent" value="percent" (change)="onDiscountTypeChange($event.value)">%</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-form-field class="discountAmountFormField">
              <input type="number" matInput placeholder="Enter discount" #discountAmountModel="ngModel" [(ngModel)]="discountAmount"
                      pattern="^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$" required (change)="addDiscount(discountAmountModel)">
            </mat-form-field>
          </div>
        </mat-toolbar>
        <mat-toolbar class="billControlToolbar">
          <mat-checkbox name="advancepaycheck" ngModel #advancepaycheck="ngModel" (change)="advancePaymentCheckClicked()">Advance Payment</mat-checkbox>
          <div class="billControlSubTool" [hidden]="!advancepaycheck.value">

            <mat-form-field>
              <input type="number" matInput placeholder="Enter amount" #advancePayModel="ngModel" [(ngModel)]="advancePayAmount"
                      pattern="^[0-9]*$" required (change)="takeAdvancePay(advancePayModel)">
            </mat-form-field>
            <mat-button-toggle-group name="paymenttype" aria-label="Payment Type" class="paymentTypeToggleGroup" #aPaymentTypeModel="matButtonToggleGroup" [(ngModel)]="paymentType">
              <mat-button-toggle aria-label="paytm" value="paytm" checked matTooltip="Paytm">
                <img src="../../../../assets/images/paytm.png" alt="paytm">
              </mat-button-toggle>
              <mat-button-toggle aria-label="googlepay" value="googlepay" matTooltip="Google Pay">
                  <img src="../../../../assets/images/googlepay.png" alt="googlepay">
              </mat-button-toggle>
              <mat-button-toggle aria-label="phonepe" value="phonepe" matTooltip="PhonePe">
                  <img src="../../../../assets/images/phonepe.png" alt="phonepe">
              </mat-button-toggle>
              <mat-button-toggle aria-label="bhim" value="bhim" matTooltip="BHIM">
                  <img src="../../../../assets/images/bhim.png" alt="bhim">
              </mat-button-toggle>
              <mat-button-toggle aria-label="cash" value="cash" matTooltip="Cash">
                  <img src="../../../../assets/images/cash.png" alt="cash">
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </mat-toolbar>
        <div class="warn-message font-weight-bold" *ngIf="discountAmountModel.errors || advancePayModel.errors">
          <span class="errorText text-danger" *ngIf="(discountAmountModel.touched && !discountAmountModel.valid) || (advancePayModel.touched && !advancePayModel.valid)">
            Incorrect value</span>
        </div>
        <div class="warn-message font-weight-bold" *ngIf="customError.hasError">
          <span class="errorText text-danger">{{customError.error}}</span>
        </div>
        <!-- {{checkoutItems | json}} -->
        <div class="layout">
          <div class="header">
            <div class="flex-line">
              <div class="flex-left single logo">
                <img src="../../../../assets/images/logo.png" alt="">
              </div>
            </div>
            <div class="flex-line">
              <div class="flex-left single companyAddress">Dehu Gaon</div>
            </div>
            <div class="flex-line">
              <div class="flex-left companyContact">
                +91 8800669070
              </div>
              <div class="flex-right billDateTime">{{dateTime | date : 'short'}}</div>
            </div>
            <div class="flex-line">
              <div class="flex-left single billNo">Bill No: {{billNo}}</div>
            </div>
            <div class="flex-line">

              <div class="flex-left userID">{{userFullName}} ({{userID}})</div>
              <div class="flex-right custID" *ngIf="custName === null"></div><br />
              <div class="flex-right custID" *ngIf="custName !== null">{{custName}} ({{custID}})</div><br />
            </div>
            <div class="flex-line">

              <div class="flex-left userContact">{{userContact}}</div>
              <div class="flex-right custContact">{{custContact}}</div>
            </div>

          </div>
          <div class="singleSeparator">
            <hr />
            <hr />
          </div>
          <div class="content">
            <div class="invoice">INVOICE</div>
            <table>
              <thead>
                <th>Sr</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Amount</th>
              </thead>

              <tbody>
                <tr *ngIf="checkoutItems.length === 0">
                  <td colspan="4" class="addItemWarning">
                    Please add items to cart to generate bill
                  </td>
                </tr>
                <tr *ngFor="let item of checkoutItems; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{item.descr }}</td>
                  <td class="text-center">{{item.qty }}</td>
                  <td>{{item.tPrice | currency : 'INR'}}</td>
                  <!-- currency: 'INR' -->
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2">Total</td>
                  <td class="text-center">{{totalQuantity}}</td>
                  <td>{{itemListTotal | currency: 'INR' : 'symbol' : '1.0-0'}}</td>
                </tr>
                <tr *ngIf="discountType==='rupee' && discount.value && discountAmount>0 && itemListTotal>0">
                  <td colspan="3">Discount</td>
                  <td>-{{ discountAmount |currency: 'INR'}}</td>
                </tr>
                <tr *ngIf="discountType==='percent' && discount.value && discountAmount>0 && itemListTotal>0">
                  <td colspan="3">Discount</td>
                  <td>-{{ discountAmount }}% [{{itemListTotal - billDiscountedTotal | currency: 'INR'}}]</td>
                </tr>
                <tr>
                  <td colspan="4">
                      <div class="singleSeparator">
                          <hr />
                          <hr />
                        </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">Grand Total</td>
                  <td>{{ billDiscountedTotal | currency: 'INR' : 'symbol' : '1.0-0' }}</td>
                </tr>
                <!-- <tr *ngIf="advancepaycheck.value && advancePayAmount>0 && cartItemsTotal>0">
                  <td colspan="2">Advance Payment</td>
                  <td>{{ advancePayAmount | currency: 'INR' : 'symbol' : '1.0-0' }}</td>
                </tr> -->
                <tr>
                  <td colspan="4">
                      <div class="singleSeparator">
                          <hr />
                          <hr />
                        </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">Pending Payment</td>
                  <td>{{ pendingAmount | currency: 'INR' : 'symbol' : '1.0-0' }}</td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="footer">
            <div class="thankTitle">
              ☺ Cherish your moments with us ☺
            </div>
          </div>
          <div class="singleSeparator">
              <hr />
              <hr />
            </div>
        </div>
      </div>
    </div>
  </div>
